.game__cutting-board-box{
  border: 1px solid orange;
  // max-width: 640px;
  // height: 480px;
  display: flex;
  margin: auto;
  width: 100%
}

.title {
  font-size: 32px;
}

.game__cutting-board {
  margin: auto;
  font-size: 32px;
  color: red;
  height: auto;
  max-width: 480px;
}

.unmute {
  text-decoration: line-through;
}
